@import url(fontawesome-all.min.css);
body {
  font: "Courier New", monospace;  
  background-color: rgb(73, 13, 60); 
 
}

div.card {
   display: block;
   border: 1px solid #cccccc;
   box-shadow: 0px 2px 2px #dddddd, 0px 0px 5px #dddddd;
   border-radius: 10px;
   width: 400px;
   margin: 10px;
   background-color: rgb(255, 255, 255);
}

div.card * {
   margin: 5px;
   padding: 5px;
}

div.card h2 {
   color: #efefef;
   font-weight: bold;
   margin: 0px;
   padding: 10px;
   background-color: rgb(163, 39, 136);
   text-align: center;
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
   
}
   
label {
   display: block;
}

input[type=text], select, textarea {
   width: 95%;
   border: 1px solid #aaa;
   border-radius: 4px;
   box-sizing: border-box;
}

.data {
   text-align: center;
   padding-bottom: 10px;
}

button {
   width: 200px;
   background-color: rgb(163, 39, 136) ;
   color: white;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

button:hover {
   background-color: rgb(87, 6, 73);
}